@import '../../../styles/variables';

.Products {
    width: 100%;
    height: fit-content;
    margin-bottom: 50px;
}

.Heading {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 37px;

    h1 {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
    }

    p {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $color-grey-darker-grey;
    }
}

.ProductsWrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: fit-content;
    width: 100%;
}

.Product {
    text-align: center;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    img {
        height: 133px;
        width: 130px;
        border-radius: 10px;
        object-fit: cover;
        margin-bottom: 15px;
    }

    #ProductName {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #000;
        margin-bottom: 8px;
    }

    #ProductPrice {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #000;
    }
}