.ChangePassword{
    padding-left: 34px;
    padding-right: 34px;
    // padding: 0 auto;
    padding-top: 60px;
    height: 100vh;
    position: relative;
    // position: relative;
    overflow: hidden;
}
.titleText{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 22px;
}
.currentPassword{
  p{
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    margin-top: 8px;
    color: #24164C;
    cursor: pointer;
  }
}
.inputWrapper{
    margin-bottom: 20px;
}
.prev{
   margin-bottom: 20px;
}