@import '../../../../styles/variables';

.Toast {
    padding: 16px 20px;
    border: 0.5px solid $color-primary-light-blue;
    color: $color-grey-darkest-grey;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15.67px;
    background: $color-primary-light-grey;
}
.FeedbackWrap {
    span {
        margin-left: 10px;
        color: #fff;
    }
}