@import '../../styles/variables';

.Live {
    height: 100vh;
    // background-color: grey;
    position: relative;
    // padding-left: 20px;
    // padding-right: 20px;
    // padding-top: 62px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #000;
}

iframe,
video {
    // height: 100vh;
    position: absolute;
    width: 100%;
    height: 100%;
    // z-index: -1;
    // min-width: 100%; 
    // min-height: 100%;

}

#video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.LiveHeader {
    // border: 1px solid red;
    width: 100%;
    position: absolute;
    top: 62px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}


.LiveHeaderDetails {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.Heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #fff;
    height: fit-content;
    width: fit-content;
    border-radius: 25px;

    img {
        height: 33px;
        width: 33px;
        border-radius: 50%;
        object-fit: cover;
    }

    h1 {
        color: $color-grey-darkest-grey;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        padding-left: 3px;
        padding-right: 11px;
    }
}

.Details {
    display: flex;
    flex-direction: row;
    gap: 11px;

    p {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #fff;
    }
}

.LiveFooter {
    position: absolute;
    z-index: 100;
    // border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    align-items: center;
    bottom: 44px;
    padding: 0px 20px;

}

.liveActions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 19px;
    width: fit-content;
    // gap: 18px;
}

.Action {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: rgba(225, 235, 243, 0.2);
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.LiveInput {
    flex: 1;
    width: 100%;
}

.video {
    object-fit: cover;

    video {
        object-fit: cover;
    }
}
.ControlsWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 21px;
    .Controls {
        display: flex;
        flex-direction: column;
        gap: 29px;
        margin-right: 9px;
        #Control {
            cursor: pointer;
        }
    }
}
.Loading {
    height: fit-content;
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.FeedbackWrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;

    position: fixed;

    left: 50%;
    transform: translate(-50%, -50%);
    top: 8%;
    z-index: 100;

    span {
        margin-left: 10px;
        color: #fff;
    }
}

.SprayFeedback {
    transition: 0.3s ease-in-out;
    padding: 16px 20px;
    border: 0.5px solid $color-primary-light-blue;
    color: $color-grey-darkest-grey;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15.67px;
    background: $color-primary-light-grey;
}