$color-primary: #24164c;
$color-primary-light-blue: #7546f6;
$color-primary-light-green: #F18902;
$color-primary-light-grey: #EFF2F1;
$color-primary-yellow: #F18902;
$color-primary-pale-blue: #cfc2f2;
$color-primary-dark-purple: #24164c;

$color-status-red: #D82B2B;
$color-status-green: #34C881;

$color-grey-darkest-grey: #323232;
$color-grey-darker-grey: #999999;
$color-grey-light-grey: #CCCCCC;