@import '../../../styles/variables';

.Header {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.TopHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;

    span {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        font-weight: 600;
        line-height: 24px;
        color: #000000;

        h2 {

            font-size: 20px;
        }

        &:last-of-type {
            font-weight: 700;
            line-height: 17px;
            color: $color-primary;
            cursor: pointer;

            h4 {

                font-size: 14px;
            }
        }
    }
}

.NavWrap {
    width: 100%;
    height: fit-content;
    padding: 8px 0px;
    overflow-x: auto;
}

.NavItems {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-right: 20px;
}

.NavItem {
    padding: 0px 12px;
    padding-top: 9px;
    height: 100px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
    background: #cfc2f28c;
    cursor: pointer;

    #NavIcon {
        padding: 12px;
        background: #ffffff;
        border-radius: 50%;
    }

    h5 {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: $color-primary;
        padding-bottom: 14px;
        text-align: center;
    }
}

.active #NavItem {
    background: #24164C;
}

.active #NavItem #NavText {
    color: #ffffff;
}

.active #NavItem #NavIcon {
    background: #fff;
}