@import '../../styles/variables';

.ForgotPassword {
    .Form {
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-top: 31px;
    }
}

.SuccessMessage {
    color: $color-status-green;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}