@import '../../../styles/variables';

.SendFunds {
    padding: 50px 30px;
    position: relative;
    height: 420px;

    h2 {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 24px;
    }
}

.Wrapper {
    display: flex;
    flex-direction: column;
    gap: 31px;
}

.ScreenContainer {
    position: absolute;
    width: 86.3%;
    transition: 0.3s ease-in-out;
}

.ConfirmWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 100%;

    p {
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        width: 70%;
        text-align: center;
        color: $color-grey-darkest-grey;

        span {
            font-weight: 700;
        }
    }

    .ButtonsWrap {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 25px;
    }
}

.EnterPin {
    display: flex;
    flex-direction: column;

    p {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $color-grey-darker-grey;
        margin-bottom: 37px;
    }
}