.Checkout{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;
    padding-top: 40px;
    position: relative;
}
.CheckoutHeader{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 25px;
    h1{
        font-weight: 700;
        font-size: 24px;
    }
    p{
        font-weight: 400;
        font-size: 14px;
        color: #999999;
    }
}
.countryprovinceflex1{
    display: flex;
    gap: 101.27px;
    margin-bottom: 16px;
}
.countryprovinceflex{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}
.checkbox{
    display: flex;
    gap: 11px;
    margin-top: 22px;
    p{
        font-weight: 400;
        font-size: 14px;
        color: #24164C;
    }
}
.Button{
    display: flex;
    justify-content: center;
    margin-top: 46px;
}


.checkoutItemContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #EFF2F1;
    min-width: 335px;
    // height: 66px;
    padding: 14px 23px 12px 15px;
}
.checkoutItem{
    display: flex;
    align-items: flex-start;
    gap: 18px;

    h6{
        font-weight: 400;
        font-size: 16px;
    }
    p{
        color: #24164C;
        font-size: 12px;
        font-weight: 400;
        margin-top: 9px;
    }
}
.checkoutItemImage{
    width: 38px;
    height: 38px;
}

.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 12px;
    color: #323232;
    font-size: 14px;
}
.phoneNumber{
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 25px;
    span{
        color: #999999;
        font-size: 12px;
    }
    p{
        font-size: 14px;
        color: #323232;
    }
}