@import '../../styles/variables';

.EditProduct{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;
    padding-top: 40px;
    position: relative;
}

.EditProductHeader{
    margin-bottom: 35px;
    h1{
        font-weight: 700;
        font-size: 24px;
    }
}
.EditProductImage{
    display: flex;
    align-items: center;
    gap: 19px;
    margin-bottom: 27px;
    img{
        width: 70px;
        height: 66px;
        border-radius: 10px;
        object-fit: cover;
    }
    span{
        color: $color-primary;
        font-size: 14px;
        cursor: pointer;
    }
}
.InputStyle{
    margin-bottom: 31px;
}

.Button{
    display: flex;
    justify-content: center;
    margin-top: 46px;
    margin-left: 10px;
    margin-right: 10px;
}

#error {
    color: $color-status-red;
    margin-top: 5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

.LoadingWrap {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}