@import '../../styles/variables';

.ResetPassword {
    .Form {
        display: flex;
        flex-direction: column;
        gap: 35px;
        margin-top: 28px;
    }
}

#error {
    color: $color-status-red;
    margin-top: 5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

.SuccessMessage {
    color: $color-status-green;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}