html {
  height: 100%;
}
 body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #8282823c;
  height: 100%;
  scroll-behavior: scroll;
  overflow-y: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  color: currentColor;
}

.App {
  max-width: 500px;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fff;
  position: relative;
  margin: 0 auto;
  position: relative;
}

#icon {
  stroke: #323232;
}

.active #icon {
  fill: #24164C;
  stroke: #24164C;
}
.active #strokeIcon {
  stroke: #24164C;
}

.active #NavItem {
  background: linear-gradient(180deg, #24164C 0%, #6B9AC4 100%);
}
.active #NavItem .NavIcon {
  background: #E1EBF3;
}
.active #NavItem #NavText {
  color: #ffffff;
}
#homeIcon {
  fill: #323232;
  stroke: #24164C;
}
.active #homeIcon {
  fill: #24164C;
  stroke: #24164C;

}
.rti--container {
  --rti-bg: blue !important;
  --rti-border: #cccccc !important;
  --rti-main: #24164C !important;
  --rti-radius: 5px;
  --rti-s: 9px; /* spacing */
  --rti-tag: blue !important;
  --rti-tag-remove: #24164C;
}

.rti--tag {
  background: #24164C;
  border-radius: 10px;
  padding: 5px 10px;
  color: #fff;
  font-size: 12px;
}

.video {
  object-fit: cover;
}
